* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}

.info, .ticket{
    padding: 20px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.km-age {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}

.ticket {
    height: 150px;
}

#result {
    text-align: center;
    padding: 30px;
}